html {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  line-height: 1.5;
  font-size: 1rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1.5rem;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

h2, h3 {
  font-size: 1.5rem;
}

img {
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "banner  banner  banner"
  "img     img     img"
  "article article article";
  gap: .75rem;
}

.banner-img {
  grid-area: banner;
}

.banner-text {
  grid-area: banner;
  color: #fff;
  padding: 1rem;
  align-self: end;
}

article {
  grid area: article;
  padding: 1rem;
  margin: 0;
}

dl {
  margin: 0;
}

h1, h2, h3, dl > dt {
  font-style: italic;
}

h2 + p {
  margin: 0;
}

dl > dd {
  margin-left: 1.5rem;
}
